.back-btn {
    display: inline-block;
    background: #808B96;
    padding: 5px 10px;
    text-decoration: none;
    color: #000;

    &:hover {
        text-decoration: none;
    }
}

.grid {
    display: grid;
    grid-template-columns: 200px auto;
}

.grid-col-head, .grid-col {
    border: 1px solid #D5D8DC;
}

.grid-col-head {
    background: #808B96;
    text-align: right;
    font-weight: bold;
    border-right: 2px solid #000;
    padding: 10px;
}

.grid-col{
    border-left: none;
    padding: 10px;
}

.details-sec {
    font-size: 16px;
    text-align: center;
}